#cont-ladin{
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #000000;
	padding: 10px;
}
#caja{
	background-image: url(/images/C13.jpg)!important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#caja label{
	color: #ffffff;
}
#btnm {
	text-align: center;
}
#btnm .btn {
	border:1px solid #000000; 
	background-color: rgba(0, 0, 0, 0.4);
	color: #ffffff;
}